<p 
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlight>Hello world</p>




<!-- <p highlightColor="'Green'" appHighlightColor>Aother Hello world</p> -->


<span
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlight>Hello world</span>



<div
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlight>Hello world</div>




<button
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlight>Hello world</button>
<br>

<button
highlightBackgroundColor="red" 
highlightFontColor="white"
hightlightFontWeight="bold"
highlightFontSize="40px"
appHighlight>This is a custom directive example</button>



<p [appHighlight]="'blue'">Hover me to get green background</p>




<!-- 

Notes:k

1. you can apply directive to the any html element like p,span,div,button etc.
2. YOu can apply directive any where in the application.
3. Input in directice which is used to change the style dynamically -->
