

<!--<div style="margin: 50px; padding: 50px" class="row">
  <div class="col-8">
    <h2>Registration Form</h2>
 
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">-->
  <!-- First Name -->
 <!---- <label>First Name:</label><br>
  <input type="text" 
         name="firstName" 
         [(ngModel)]="user.firstName" 
         required 
         maxlength="15">
  <br>
  <span *ngIf="userForm.submitted && userForm.controls['firstName']?.errors?.['required']">
    First name is required.
  </span>
  <span *ngIf="userForm.controls['firstName']?.errors?.['maxlength']">
    Maximum 15 characters allowed.
  </span>
  <br><br>-->
 
  <!-- Email -->
  <!--<label>Email:</label><br>
  <input type="email" 
         name="email" 
         [(ngModel)]="user.email" 
         required>
  <br>
  <span *ngIf="userForm.submitted && userForm.controls['email']?.errors?.['required']">
    Email is required.
  </span>
  <span *ngIf="userForm.controls['email']?.errors?.['email']">
    Please enter a valid email address.
  </span>
  <br><br>-->
 
  <!-- Submit Button -->
  <!--<button type="submit">Submit</button>
</form>-->
 
<!-- Display entered data -->
<!--<div *ngIf="userForm.submitted">
  <h3>Form Data:</h3>
  <p><b>First Name:</b> {{ user.firstName }}</p>
  <p><b>Email:</b> {{ user.email }}</p>
</div>-->

 <div style="margin: 50px; padding: 50px" class="row">
  <div class="col-8">
    <form #registrationform="ngForm" ngForm>
      <div class="form-group">
        <label for="firstID">FirstName *</label>
        <input
          id="firstID"
          type="text"
          class="form-control"
          name="firstname"
          ngModel
          #myfirstName="ngModel"
          required
        />
        <span
          style="color: red"
          *ngIf="myfirstName.dirty && myfirstName.invalid"
          >Please enter the firstname</span
        >
      </div>

      <div class="form-group">
        <label for="CountryID">CountryCode *</label>
        <input
          id="CountryID"
          type="text"
          class="form-control"
          name="CountryCodeName"
          ngModel
          #contrycodeName="ngModel"
          minlength="2"
          maxlength="5"
          required
        />
        <span
          style="color: red"
          *ngIf="contrycodeName.dirty && contrycodeName.errors?.['required']"
          >Please enter the CountryCode</span
        >
        <span
          style="color: red"
          *ngIf="contrycodeName.dirty && contrycodeName.errors?.['minlength']"
          >Please enter the Atleast 2 charcters</span
        >
        <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
      </div>

      <div class="form-group">
        <label for="emailid">User Email *</label>
        <input
          id="emailid"
          type="text"
          class="form-control"
          name="useremail"
          ngModel
          #useremail="ngModel"
          pattern="^[a-zA-Z0-9._%+\\-]+@misard\.com$"
          required
          email
        />
        <span
          style="color: red ; margin-bottom:10px"
          *ngIf="useremail.dirty && useremail.errors?.['required']"
          >Please enter the YOur email</span>
        <span
          style="color: red;margin-bottom:10px"
          *ngIf="useremail.dirty && useremail.errors?.['email']"
          >Please enter Proper email</span
        >
        <br>
        <span
          style="color: red"
          *ngIf="useremail.dirty && useremail.errors?.['pattern']"
          >Please enter Misard emails only</span
        >
        <!-- <span style="color:red"  *ngIf="contrycodeName.dirty && contrycodeName.errors?.['max']">Please Do't enter more than 5 charcters</span> -->
      </div>

      
